<div class="panel-group category-products" id="accordian">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a href="/profile">Profile Info</a></h4>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a href="<%= users_orders_path %>">My order</a></h4>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a href="<%= users_loves_path %>">My product favorites</a></h4>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a href="<%= users_history_product_path %>">Product viewing history</a></h4>
    </div>
  </div>
</div>
