@import 'bootstrap-sprockets';
@import 'bootstrap';
/* universal */
// body 
// {
//     padding-top: 60px;
// }
section {
    overflow: auto;
}
textarea {
    resize: vertical;
}
.center {
    text-align: center;
}
.center h1 {
    margin-bottom: 10px;
}
/* header */
#logo 
{
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 56px;
    font-weight: bold;
} 


a:visited { 
    color: #FFFFFF;
}
a:hover { 
    color: #CCCCCC;
}
a:active { 
    color: #333333;
}
#error_explanation {
    color: red;
    ul {
    color: red;
    margin: 0 0 30px;
    }
    }
    .field_with_errors {
    @extend .has-error;
    .form-control {
    color: $state-danger-text;
    }
}
.btn-primary-color
{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
// micropost
aside {
    textarea {
    height: 100px;
    margin-bottom: 5px;
    }
}
    span.picture {
        margin-top: 10px;
        input {
        border: 0;
    }
}
.microposts {
    list-style: none;
    padding: 0;
    li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    }
    .user {
    margin-top: 5em;
    padding-top: 0;
    }
    .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    }
    .content {
        display: block;
        margin-left: 60px;
        img {
        display: block;
        padding: 5px 0;
        }
    }
        .timestamp {
        color: $gray-light;
        display: block;
        margin-left: 60px;
    }
}